body {
	//background-color: #cce0ff !important;
	background-image: url("../images/bg.png") !important;
	background-position:center;
	background-repeat:no-repeat;
}

.jumbotron {
	background: none;
    color: teal;
    padding: 100px 25px;
}

.container-fluid {
    padding: 60px 50px;
}

td:hover { background: #cce0ff; }

tr:hover { background: #c6cee3; }

hr {
	margin-top: 50px;
}


.navbar {
    margin-bottom: 0;
    //background-color: #cce0ff !important;
	background: none;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    border-color: transparent;
    
}


.navbar-default {
    color: #cce0ff ;
}
